In [1]:
import pandas as pd
import datetime

In [5]:
dt = "{:02d}".format(datetime.date.today().year)+"{:02d}".format(datetime.date.today().month,"00")+"{:02d}".format(datetime.date.today().day, "00")
dt

'20210708'

In [6]:
TOP = 14
dfs = []
for i in range(TOP):
    df = pd.read_html(f'https://kabutan.jp/warning/?mode=2_1&market=0&capitalization=-1&stc=&stm=0&page={i+1}')
    dfs.append(df[2])

In [7]:
TOP = 63
dfs_down = []
for i in range(TOP):
    df_down = pd.read_html(f'https://kabutan.jp/warning/?mode=2_2&market=0&capitalization=-1&stc=&stm=0&page={i+1}')
    dfs_down.append(df_down[2])

In [8]:
 datetime.date.today().weekday()

4

In [9]:
df_all = pd.concat(dfs, axis=0)
df_all.reset_index(inplace=True, drop=True)
df_all = df_all[['コード', '銘柄名', '市場', '株価', 
       '前日比', '前日比.1', '出来高', 'ＰＥＲ', 'ＰＢＲ', '利回り']]
df_all.columns = ['コード', '銘柄名', '市場', '株価', 
       '前日比_価格差', '前日比_変化率', '出来高', 'PER', 'PBR', '利回り']
df_all['date'] = datetime.date.today()
df_all['weekday'] = datetime.date.today().weekday()

In [10]:
df_all_down = pd.concat(dfs_down, axis=0)
df_all_down.reset_index(inplace=True, drop=True)
df_all_down = df_all_down[['コード', '銘柄名', '市場', '株価', 
       '前日比', '前日比.1', '出来高', 'ＰＥＲ', 'ＰＢＲ', '利回り']]
df_all_down.columns = ['コード', '銘柄名', '市場', '株価', 
       '前日比_価格差', '前日比_変化率', '出来高', 'PER', 'PBR', '利回り']
df_all_down['date'] = datetime.date.today()
df_all_down['weekday'] = datetime.date.today().weekday()

In [11]:
df_all.head(2)

,コード,銘柄名,市場,株価,前日比_価格差,前日比_変化率,出来高,PER,PBR,利回り,date,weekday
0,1689,ＷＴ天然ガス,東Ｅ,2.0,1,+100.00%,6179700,－,－,－,2021-07-09,4
1,8135,ゼット,東２,341.0,80,+30.65%,3620900,12.8,0.67,1.47,2021-07-09,4

In [12]:
df_all_down.head(2)

,コード,銘柄名,市場,株価,前日比_価格差,前日比_変化率,出来高,PER,PBR,利回り,date,weekday
0,6628,オンキヨーＨ,ＪＱ,3.0,-1.0,-25.00%,4803500,－,－,－,2021-07-09,4
1,4918,アイビー,ＪＱ,1200.0,-211.0,-14.95%,1118200,11.7,3.03,－,2021-07-09,4

In [13]:
df_all.to_csv(f'./data/{dt}_stock_upranking.csv', index=False)
df_all_down.to_csv(f'./data/{dt}_stock_downranking.csv', index=False)